<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>汉得信息管理系统</title>
    <!--jQuery-->
    <script src="js/jquery.min.js"></script>
    <!--bootstrap-->
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pagination.css">
    <!--angularjs-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-locale_zh-cn.js"></script>
    <!--person-->
    <script src="js/app.js"></script>
    <script src="templates/stuMan.js"></script>
    <script src="templates/teaInfoMan.js"></script>
    <script src="templates/cms.js"></script>
    <script src="templates/category.js"></script>
</head>
<body ng-controller="mainController">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <div class="navbar-brand">
                汉得信息管理系统
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="title">
                            操作菜单
                        </div>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="javascript:void(0)"
                            ng-repeat="item in config |filter:{parent : null}"
                            ng-click="data.changeTabs(item.cId)">
                            {{item.cName}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <!--二级功能-->
                <ul class="nav nav-tabs">
                    <li ng-repeat="item in data.tabs" ng-click="data.changeCurrentTab($event)"
                            class="{{$first?'active':''}}">
                        <a href="{{item.url}}">{{item.cName}}</a>
                    </li>
                </ul>
                <div ng-view></div>
            </div>
        </div>
    </div>
</body>
</html>